<div class="navBar">
  <div
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="router-link-active"
  >
    home
  </div>
  <div
    (click)="toasterClassHandler()"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    myApp
  </div>
  <div
    [routerLink]="['/childs']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    childs
  </div>
  <div
    [routerLink]="['/childs/new']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Create child
  </div>
  <div
    [routerLink]="['/user/profile']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    profile
  </div>
  <div routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    infosys
  </div>
  <div><input /> search</div>
  <h4 *ngIf="authService.userAuthenticated()">
    welcome {{ authService.user.firstName }}
  </h4>
  <a
    [routerLink]="['/user/login']"
    routerLinkActive="router-link-active"
    *ngIf="!authService.userAuthenticated()"
    >Login</a
  >
</div>
